
html {
  width: 100%;
}

body {
    background-color: black;
    width: 100%;
    margin: 7% 7%;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.item1 {
  grid-area: h-l;
  background-color: rgb(184, 22, 28);
  color:rgb(252, 206, 21);
}
.item2 { grid-area: h-r;
  background-color: rgb(3, 70, 28);
  color:rgb(228, 228, 228);
}
.item3 { grid-area: f-l;
  background-color: rgb(24, 24, 71);
  color:rgb(212, 159, 44);
}
.item4 { grid-area: f-r;
  background-color: rgb(246, 232, 15);
  color:rgb(0, 0, 0);
}

.grid-container {
  display: grid;
  grid:
  'h-l h-l h-r h-r'
  'h-l h-l h-r h-r'
  'f-l f-l f-r f-r'
  'f-l f-l f-r f-r';
  grid-gap: 4px;
  padding: 5px;
}

.grid-container > div {
  text-align: center;
  padding: 50px 10px 7px 10px;
  font-size: 30px;
}

p {
    font-size: 110%;
    font-family: "IMPRISHA", serif;
    font-weight: 700;
}